.add-music {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.add-music > form {
  width: 30rem;
  height: 100%;
  margin: 0 auto;
}

.add-music > form > h2 {
  margin-bottom: 1rem;
}

.add-music > form > span {
  width: fit-content;
  margin: 2rem auto 0;

  cursor: pointer;

  display: flex;
  align-items: center;
}

.add-music > form > span > p {
  font-size: 1.2rem;
  font-weight: bold;
}

.add-music > form > span > svg {
  font-size: 1.2rem;
}